// @import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic)

.page-affiliate
	line-height: 1.3
	+font-smoothing
	+box

.affiliate
	.font-lg
		font-size: 12px
	.pseudo
		text-decoration: none
		border-bottom: 1px dotted #069
		&:hover
			border-color: #c00

	.affiliate__topper
		margin-bottom: 20px

	.affiliate__action
		display: table-cell
		vertical-align: middle
		padding-left: 25px
	.affiliate__profilebtn
		+s(profile)
		display: inline-block
	.affiliate__stats
		margin-top: 12px
		font-size: 11px
		color: #a3a3a3
		p
			margin: 3px 0
	.affiliate__statsnum
		font-weight: bold
		color: #000
		&.affiliate__statsnum_warning,
		&.affiliate__statsnum_success
			font-weight: normal
			display: inline-block
			vertical-align: middle
			color: #fff
			+border-radius(3px)
			+box-shadow(0 1px 0 #fff)
			padding: 2px 6px
		&.affiliate__statsnum_warning
			background-color: #e64444
		&.affiliate__statsnum_success
			background-color: #71c848

	.affiliate__filter
		display: table-cell
		vertical-align: top
		padding: 20px
		border: 1px solid #e5dfbf
		+border-radius(5px)
		background-color: #fefefb
		+box-shadow(inset 0 1px 0 #fff)
		+g(#fefefb, #f8f8df)

	.input, .select select, .textarea
		padding: 2px .5em
		height: 25px
		border: 1px solid #ddd
		border-top: 1px solid #bbb
		font-size: 12px
		color: #6b6b6b
		width: 166px
		+placeholder-color(#6b6b6b)
		outline: none !important
		-moz-outline: none !important
		&.input_wide
			width: 183px

	.select
		position: relative
		height: 25px
		background: #fff
		border: 1px solid #ddd
		border-top: 1px solid #bbb
		&.select_wide
			width: 238px
		> i
			position: absolute
			top: 50%
			margin-top: -8px
			right: 6px
			+s(arrow)
		select
			position: absolute
			z-index: 1
			top: 0
			left: 0
			width: 100%
			height: 100%
			-webkit-appearance: none
			-moz-appearance: checkbox-container
			appearance: normal
			text-indent: 0.05px
			text-overflow: ''
			+border-radius(0)
			background: transparent
			border: none
			outline: none
	.affiliate__filtercol
		display: table-cell
		vertical-align: top
		padding-left: 20px
		&:first-child
			padding-left: 0
		&.affiliate__filtercol_action
			vertical-align: bottom
	.affiliate__filterrow
		margin-top: 10px
		&:first-child
			margin-top: 0
		&.affiliate__filterrow_mod
			.input
				padding: 2px 21px 2px 0.5em
			.affiliate__filterlabel
				width: 90px
				text-align: right
				margin-right: 10px
	.affiliate__filterlabel
		display: inline-block
		vertical-align: middle
		color: #666
		margin-right: 5px
		&.affiliate__filterlabel_mod
			margin-top: -4px
	.affiliate__filtergroup
		position: relative
		display: inline-block
		vertical-align: middle
		white-space: nowrap
		.input
			width: 72px
	.affiliate__filterpercent
		position: absolute
		top: 0
		right: 8px
		bottom: 0
		line-height: 25px
		color: #cacaca

	.affiliate__btn
		display: inline-block
		font-family: "Tahoma"
		font-size: 12px
		font-weight: bold
		color: #fff
		+font-smoothing
		+text-shadow(0 -1px 0 rgba(0,0,0,.15))
		+border-radius(5px)
		background-color: #fdfdfb
		+box-shadow(0 1px 5px rgba(#000, .15))
		+background-image(linear-gradient(bottom, #0d97cd 0%, #3bbfea 100%))
		line-height: 14px
		padding: 7px 28px
		white-space: nowrap
		text-decoration: none
		&.affiliate__btn_lg
			padding: 12px 33px
		&.affiliate__btn_link
			background: none
			padding-left: 0
			padding-right: 0
			color: #006699
			-webkit-box-shadow: none
			box-shadow: none
			+text-shadow(none)
			font-weight: normal
			text-decoration: underline
			&:hover
				text-decoration: none
		&.affiliate__btn_act
			background-color: #ef9515
			+background-image(linear-gradient(bottom, #ef4541 -124.08%, #ef9b1f 23.92%))

	.affiliate__table
		position: relative
		table
			+gh(#ef9615, #ef4642)
		thead
			border-right: 1px solid #ef4642
		th, td
			padding: 25px 15px
			text-align: center
			font-size: 11px
			vertical-align: middle
			position: relative
		th
			color: #fff
			font-weight: normal
			padding: 18px 15px
			// border: 1px solid transparent
		tr:hover
			td
				background: #fbfbed
		td
			background: #fff
			border: 1px solid #ddd
			border-width: 0 1px 1px 1px
			line-height: 18px
		.nowrap
			white-space: nowrap
		.gray
			color: #a3a3a3
		.brown
			color: #807460
	.affiliate__tableborder
		position: relative
		top: -1px
		height: 2px
		+gh(#ef9615, #ef4642)
	.infonote
		position: absolute
		top: 50%
		right: -9px
		margin-top: -7px
		z-index: 1
		&:hover
			.infonote__tooltip
				display: block
		.infonote__icon
			display: block
			+s(infonote)
		.infonote__tooltip
			position: absolute
			bottom: 100%
			left: -30px
			display: none
			width: 330px
			margin-bottom: 15px

			+border-radius(5px)
			background-color: #f7f7db
			+box-shadow(0 1px 5px rgba(#000, .15))
			padding: 30px 35px
			text-align: left
			color: #807460
			&:before
				position: absolute
				bottom: -12px
				left: 28px
				+s(infonote_arrow)
				content: ""

	.affiliate__price
		// white-space: nowrap
		font-size: 12px
		font-weight: bold
	.affiliate__country
		position: relative
		margin-left: 20px
	.affiliate__flag
		position: absolute
		top: 2px
		left: -20px
		img
			display: block
	.affiliate__progress
		&.affiliate__progress_todo
			color: #e64545
		&.affiliate__progress_doing
			color: #ff9900
		&.affiliate__progress_done
			color: #78c922
	.affiliate__tablesort
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		cursor: pointer
		z-index: 1
		i
			position: absolute
			bottom: -10px
			left: 50%
			margin-left: -10px
			+s(editable)

	.has-tooltip
		// position: relative
		&.is-active
			.affiliate__tooltip
				display: block
		.affiliate__tooltip
			display: none
			+border-radius(5px)
			background-color: #f7f7db
			+box-shadow(0 1px 5px rgba(#000, .15))
			padding: 30px 30px
			text-align: left
			position: absolute
			width: 300px
			left: 50%
			margin-left: -150px
			z-index: 2
			bottom: -2px
			color: #807460

	.affiliate__profile
		position: absolute
		top: -10px
		width: 100%
		+border-radius(10px)
		background-color: #fff
		+box-shadow(0 1px 5px rgba(#000, .15))
		padding-top: 30px
		z-index: 10
	.affiliate__profiletitle
		text-align: center
		font-size: 24px
		font-weight: bold
		margin-bottom: 25px
	.affiliate__profilesub
		font-size: 17px
		font-weight: bold
		margin-bottom: 30px
	.affiliate__profileclose
		position: absolute
		top: 42px
		right: 20px
		+s(close)
		cursor: pointer
	.affiliate__profilecols
		margin-right: -1px
	.affiliate__profilecol
		display: table-cell
		vertical-align: top
		height: 100%
		border-left: 1px solid #f0f0f0
		padding: 30px 45px
		&:first-child
			border: none
			padding-left: 40px
			padding-right: 40px
		&.affiliate__profilecol_sidebar
			background-color: #f7f6eb
			width: 300px
	.affiliate__profilerow
		width: 420px
		margin-top: 10px
		margin-right: 30px
		&.affiliate__profilerow_action
			margin-left: 179px
			width: 241px
			+clr
			.affiliate__btn
				float: right
				&:first-child
					float: left
		.input
			&.input_sm
				display: inline-block
				vertical-align: middle
				width: 52px
				+ span
					display: inline-block
					vertical-align: top
					padding-left: 10px
					line-height: 29px
		.input, .select, .textarea
			width: 241px
			margin-bottom: 11px
		.textarea
			height: 129px
			resize: none
			padding: 0.5em
		.input, .select
			height: 29px
		.select__add,
		.select__remove
			position: absolute
			top: 3px
			right: -35px
			cursor: pointer
		.select__add
			+s(add)
		.select__remove
			+s(remove)
			
	.affiliate__profilelabel
		display: inline-block
		vertical-align: top
		width: 175px
		text-align: right
		padding-right: 25px
		line-height: 29px
	.affiliate__profilefield
		display: inline-block
		vertical-align: top
	.affiliate__profilecontact
		padding-top: 50px
		.affiliate__profilesub
			margin-bottom: 15px
		.input
			height: 29px
			width: 222px
			margin-bottom: 10px
			+placeholder-color(#a4a3a3)
		.affiliate__profilerow_action
			width: 222px
			margin: 19px 0 0
	.affiliate__profilecard
		margin-top: -4px
	.affiliate__profilecard-row
		margin-top: 20px
		p
			margin: 2px 0
	.affiliate__profilecard-name
		font-size: 15px
		font-weight: bold
	.affiliate__profilecard-skype
		i
			position: relative
			top: -2px
			display: inline-block
			vertical-align: middle
			margin-right: 5px
			+s(skype)
	.affiliate__profilecard-add
		position: relative
		margin-left: 20px
		i
			position: absolute
			top: 3px
			left: -16px
			+s(plus)
	.affiliate__profilecard-action
		height: 1px
		border-top: 1px solid #ececec
		margin: 48px -45px 0
	.affiliate__profilecard-actionwrap
		display: inline-block
		background: #fff
		padding: 0 10px
		position: relative
		height: 20px
		top: -10px
		// margin-left: 45px
		margin-left: 30px
	.affiliate__profilecard-actiondel,
	.affiliate__profilecard-actionedit
		display: inline-block
		vertical-align: middle
		margin: 0 5px
	.affiliate__profilecard-actiondel
		+s(del)
	.affiliate__profilecard-actionedit
		position: relative
		top: -1px
		+s(edit)
	.affiliate__profiledoc
		padding-left: 22px
		width: 180px
		position: relative
		margin-bottom: 30px
	.affiliate__profiledoc-icon
		+s(doc)
		position: absolute
		top: 2px
		left: 0
	.affiliate__profiledoc-name
		font-weight: bold
		color: #404040
		margin-bottom: 3px
	.affiliate__profiledoc-meta
		color: #9f9f9f











